.links li{
	display: inline;
	text-transform: uppercase;
	padding-left: 10px;
	position:relative;
	left: 400px;
	bottom: 25px;
	margin-left: 5px;
}	
/*MainContent*/
.Boxes img {
	margin-bottom: 15px;
}