.menu button {
  background-color: #f4f4f4;
  border: 1px gray;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  padding: 12px 24px;
  position: relative;
  left: 650px;
  bottom: 110px;
}
.botonU {
    border-radius: 0.375em;
    padding: 0.56em 0.9em;
    margin: 0.31em 4.18em;
}
.circle {
  float: left;
  position: relative;
  top: 16em;
  left: 37.5em;
}

