.logo {
    position: relative;
    left: 7.3em;
    bottom: 1.18em;
}
.casa {
    height: 0.8em;
}
.flechaI {
    position: relative;
    right: 18.6em;
    top: 6.75em;
}
.flechaD {
    position: relative;
    left: 44.8em;
    top: 6.75em;
}
.puntos {
    position: relative;
    left: 9.6em;
    top: 15.5em;

}
.granosCafe {
    position: relative;
    left: 40.6em;
    top: 11em;
}
.circle {
    position: relative;
    left: 47em;
    top: 6.125em;
}
